---
import "../styles/global.css";
import Navbar from "../components/NavBar.tsx";
import Hero from "../components/Hero.js";
import Services from "../components/Services.js";
import Pricing from "../components/Pricing.js";
import ContactSection from "../components/ContactSection.tsx";
import Footer from "../components/Footer.astro";
import Method from "../components/Method.js";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>CappaTech</title>
	</head>

	<body class="min-h-screen w-full bg-sky-950 text-white">
		<!-- Navigation -->
		<Navbar />

		<!-- Main Content -->
		<main class="container mx-auto flex flex-col px-4 sm:px-6 lg:px-8">
			<Hero client:only />
			<Method client:visible />
			<Services client:visible />
			<Pricing client:visible />
			<ContactSection client:visible />
		</main>

		<!-- Footer (Normalized Spacing) -->
		<div class="h-20"></div>
		<!-- Ensures Footer Spacing -->
		<Footer />
	</body>
</html>
