<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/favicon_w.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CappaTech</title>
	</head>
	<body>
		<h1>Hi, Dom</h1>
	</body>
</html>
