---

---

<section class="mt-12 mb-12 w-full h-[80%] flex flex-col items-center">
    <!-- Glass Background -->
    <div
        class="glass-background relative w-[90%] h-[90%] bg-white/30 backdrop-blur-md border border-white/40 rounded-lg shadow-lg p-6 flex flex-col"
    >
        <!-- WebGL Canvas for Three.js (absolute so it stays centered inside) -->
        <div
            id="three-container"
            class="absolute pb-10 left-1/2 transform -translate-x-1/2 z-1 w-full h-[50%]"
        >
        </div>

        <!-- Text below the cube -->
        <div class="relative z-2 content-end">
            <p class="text-3xl max-w-md font-semibold text-gray-950">
                Are You in the Black Box Business?
            </p>

            <p class="max-w-md mt-1.5 align-bottom text-gray-900">
                Shine a light on hidden processes, document your work, and
                create knowledge management systems.
            </p>
            <!-- Load Three.js Script -->
            <script src="/js/three-init.js" type="module"></script>
        </div>
    </div>
</section>
